<!-- snippets/index-slider.liquid -->

{% assign slider_autoplay = true %}
{% assign slider_dots = true %}
{% assign slider_arrows = true %}

<div id="index_slider" {% unless settings.slideshow_small %}class="small--hide"{% endunless %}>

  {% for i in (1..3) %}
    {% capture slide_enable %}slide_{{ i }}_enable{% endcapture %}
    {% capture slide_img %}slide_{{ i }}.png{% endcapture %}
    {% capture slide_title %}slide_{{ i }}_title{% endcapture %}
    {% capture slide_text %}slide_{{ i }}_text{% endcapture %}
    {% capture slide_link %}slide_{{ i }}_link{% endcapture %}
    {% capture slide_btn_text %}slide_{{ i }}_button{% endcapture %}
    {% if forloop.first or settings[slide_enable] %}
      <div>
        <div class="grid large--grid--flex">
          <div class="grid__item large--one-half flex__item">
            <h2>{{ settings[slide_title] }}</h2>
            <p>{{ settings[slide_text] }}</p>
            <a href="{{ settings[slide_link] }}" title="{{ settings[slide_title] }}" class="btn btn--large">{{ settings[slide_btn_text] }}</a>
          </div>
          <div class="grid__item large--one-half flex__item">
            <img src="{{ slide_img | asset_url }}">
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  
</div>

<script type="text/javascript">
  // Slider
  $(document).ready(function() {
    $('#index_slider').imagesLoaded().always(function(instance) {
      $('#index_slider').addClass('visible');
      loadSlider();
    });
    // Initiate product slider
    function loadSlider() {
      $("#index_slider").slick({
        slidesToShow: 1,
        {% if slider_autoplay %}autoplay: true,{% else %}autoplay: false,{% endif %}
        {% if slider_dots %}dots: true,{% else %}dots: false,{% endif %}
        {% if slider_arrows %}arrows: true,{% else %}arrows: false,{% endif %}
        prevArrow: '<span class="icon"><svg class="slick-prev" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32"><polygon class="fill invert" points="21,0.586 5.586,16 21,31.414 26.414,26 16.414,16 26.414,6 "/></svg></span>',
        nextArrow: '<span class="icon"><svg class="slick-next" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32"><polygon class="fill invert" points="5.586,6 15.586,16 5.586,26 11,31.414 26.414,16 11,0.586 "/></svg></span>',
        adaptiveHeight: true
      });
    }
  });
</script>