{% assign sharing_on = false %}
{% if template contains 'product' and settings.social_sharing_products %}
  {% assign sharing_on = true %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title }}{% endcapture %}
{% endif %}
{% if settings.social_sharing_blog %}
  {% if template contains 'article' or template contains 'blog' %}
    {% assign sharing_on = true %}
    {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
    {% capture shareTitle %}{{ article.title }}{% endcapture %}
  {% endif %}
{% endif %}
{% if sharing_on %}

  <div class="social-sharing" data-permalink="{{ permalinkURL }}">

    <!-- <h4>{{ 'social.share.title' | t }}</h4> -->

    {% if settings.share_facebook %}
      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="btn share-facebook">
        {% include 'icon' with 'twitter' %}
        <span class="share-title">{{ 'social.share.facebook' | t }}</span>
      </a>
    {% endif %}

    {% if settings.share_twitter %}
      <a target="_blank" href="//twitter.com/share?url={{ permalinkURL }}&amp;text={{ shareTitle | url_param_escape }}" class="btn share-twitter">
        {% include 'icon' with 'twitter' %}
        <span class="share-title">{{ 'social.share.twitter' | t }}</span>
      </a>
    {% endif %}

    {% if template contains 'product' %}

      {% if settings.share_pinterest %}
        <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{{ product.featured_image | img_url: '1024x1024' }}&amp;description={{ shareTitle | url_param_escape }}" class="btn share-pinterest">
          {% include 'icon' with 'pinterest' %}
          <span class="share-title">{{ 'social.share.pinterest' | t }}</span>
        </a>
      {% endif %}

      {% if settings.share_fancy %}
        <a target="_blank" href="http://www.thefancy.com/fancyit?ItemURL={{ permalinkURL }}&amp;Title={{ shareTitle | url_param_escape }}&amp;Category=Other&amp;ImageURL={{ product.featured_image | img_url: '1024x1024' }}" class="btn share-fancy">
          {% include 'icon' with 'fancy' %}
          <span class="share-title">{{ 'social.share.fancy' | t }}</span>
        </a>
      {% endif %}

    {% endif %}

    {% if settings.share_google %}
      <a target="_blank" href="//plus.google.com/share?url={{ permalinkURL }}" class="btn share-google">
        {% include 'icon' with 'twitter' %}
        <span class="share-title">{{ 'social.share.google' | t }}</span>
      </a>
    {% endif %}

  </div>

{% endif %}
