<!-- /snippets/theme-header.liquid -->
<header class="site-header" role="banner">
  <div class="grid--full grid--table">

    <!-- begin mobile-nav-icons -->
    <div class="large--hide medium-down--show medium--one-sixth small--one-sixth">
      <button type="button" class="site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
        {% include 'icon' with 'menu' %}
      </button>
    </div>
    <!-- //mobile-nav-icons -->

    <div class="grid__item large--one-quarter medium--two-quarters small--two-thirds">
      {% if template == 'index' %}
        <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
      {% else %}
        <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
      {% endif %}
        {% if settings.logo_use_image %}
          <a href="/" itemprop="url" class="site-header__logo-link">
            <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
          </a>
        {% else %}
          <a href="/" itemprop="url">{{ shop.name }}</a>
        {% endif %}
      {%  if template == 'index' %}
        </h1>
      {% else %}
        </div>
      {% endif %}
    </div>

    <div class="grid__item large--two-quarters menu-container">
      {% section 'mega-menu' %}
    </div>

    <div class="grid__item large--one-quarter medium--one-quarter small--one-sixth text-right medium--right small--right user-tools">

      <ul class="icon-menu">
        {% if shop.customer_accounts_enabled %}
          <li class="medium-down--hide">
            <a href="/account" id="open_account" title="{{ 'layout.customer.account' | t }}">{% include 'icon' with 'account' %}</a>
          </li>
        {% endif %}
        <li class="medium-down--hide">
          <a href="/search" id="open_search" title="{{ 'general.search.title' | t }}">
            {% include 'icon' with 'search' %}
          </a>
        </li>
        <li>
          <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
            {% include 'icon' with 'cart-mini' %}
            <span id="CartCount">{{ cart.item_count }}</span>
          </a>
        </li>

      </ul>

      <div id="account_bar" class="text-center medium-down--hide">
        {% include 'account-bar' %}
      </div>

      <div id="search_bar" class="medium-down--hide">
        {% include 'icon' with 'close' %}
        {% include 'search-bar' %}
      </div>

    </div>

  </div>

</header>
