<!-- /snippets/theme-nav-drawer.liquid -->

<div id="NavDrawer" class="drawer drawer--left">
  <div class="drawer__header">
    <div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
    <div class="drawer__close js-drawer-close">
      <button type="button">
        {% include 'icon' with 'close' %}
      </button>
    </div>
  </div>

  <!-- begin mobile-nav -->
  <ul class="mobile-nav">
    <li class="mobile-nav__item mobile-nav__search">
      {% include 'search-bar' %}
    </li>
    {% for link in linklists.main-menu.links %}
      {% comment %}
        Create a dropdown menu by naming a linklist the same as a link in the parent nav

        More info on dropdowns:
          - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
      {% endcomment %}
      {% assign child_list_handle = link.title | handleize %}
      {% if linklists[child_list_handle].links != blank %}
        <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
          <div class="mobile-nav__has-sublist">
            <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
            <div class="mobile-nav__toggle">
              <button>
                {% include 'icon' with 'angle-down' %}
              </button>
            </div>
          </div>
          <ul class="mobile-nav__sublist">
            {% for childlink in linklists[child_list_handle].links %}
              {% assign second_child_list_handle = childlink.title | handleize %}
              {% if linklists[second_child_list_handle].links != blank %}
                <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
                  <div class="mobile-nav__has-sublist">
                    <a href="{% if childlink.title == link.title %}{{ childlink.url }}{% else %}{{ childlink.url }}{% endif %}" class="mobile-nav__link">{{ childlink.title }}</a>
                    <div class="mobile-nav__toggle">
                      <button>
                        {% include 'icon' with 'angle-down' %}
                      </button>
                    </div>
                  </div>
                  <ul class="mobile-nav__sublist">
                    {% for second_childlink in linklists[second_child_list_handle].links %}
                      <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
                        <a href="{{ second_childlink.url }}" class="mobile-nav__link">{{ second_childlink.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
                  <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
          <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% comment %}
      If customer accounts are enabled, provide login and create account links
    {% endcomment %}
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <li class="mobile-nav__item">
          {% if customer.first_name != blank %}
            {% capture first_name %}{{ customer.first_name }}{% endcapture %}
            <a href="/account">{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}</a>
          {% else %}
            <a href="/account">{{ 'layout.customer.account' | t }}</a>
          {% endif %}
        </li>
        <li class="mobile-nav__item">
          {{ 'layout.customer.log_out' | t | customer_logout_link }}
        </li>
      {% else %}
        <li class="mobile-nav__item">
          {{ 'layout.customer.log_in' | t | customer_login_link }}
        </li>
        <li class="mobile-nav__item">
          {{ 'layout.customer.create_account' | t | customer_register_link }}
        </li>
      {% endif %}
    {% endif %}
  </ul>
  <!-- //mobile-nav -->

</div>
