<!-- sections/color-sections.liquid -->

{% for block in section.blocks %}
  <div class="container section-container color {{ block.settings.color }}" {{ block.shopify_attributes }}>
    <div class="wrapper">
      <div class="grid{{ block.settings.alignment }} large--grid--flex">
        <div class="grid__item large--one-half flex__item">
          <a href="{{ block.settings.link }}" class="grid__image">
            <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.title | escape }}">
          </a>
        </div>
        <div class="grid__item large--one-half flex__item{% if block.settings.alignment == '--rev' %} large--text-right{% endif %}">
          <div class="mini-wrapper">
            <h2>
              <a href="{{ block.settings.link }}">{{ block.settings.title }}</a>
            </h2>
            <p>{{ block.settings.text }}</p>
            <a href="{{ block.settings.link }}">
              <button class="btn btn--large">
                <span>{{ block.settings.link_text }}</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% schema %}
  {
    "name": "Colour Sections",
    "settings": [
      {
        "type": "paragraph",
        "content": "Create sections with titles, images, links and custom colours below."
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Colour Section",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "New section"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Button text",
            "default": "View"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image placement",
            "options": [
              {
                "value": "",
                "label": "Left"
              },
              {
                "value": "--rev ",
                "label": "Right"
              }
            ],
            "default":   ""
          },
          {
            "type": "select",
            "id": "color",
            "label": "Background colour",
            "options": [
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "grey",
                "label": "Grey"
              },
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "green",
                "label": "Green"
              },
              {
                "value": "dark",
                "label": "Dark"
              }
            ],
            "default":   "white"
          }
        ]
      }
    ]
  }
{% endschema %}
