<!-- Desktop Slider -->
</div>
   <div class="hide-for-small">
		<div class="gallery large">
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url({{ 'gallery_1.jpg' | asset_url }})"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url({{ 'gallery_2.jpg' | asset_url }})"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url({{ 'gallery_3.jpg' | asset_url }})"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url({{ 'gallery_4.jpg' | asset_url }})"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url({{ 'gallery_5.jpg' | asset_url }})"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url({{ 'gallery_6.jpg' | asset_url }})"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url({{ 'gallery_7.jpg' | asset_url }})"></div>
		</div>	  
	</div>
<div class="row">
<!-- End Desktop Slider -->

<!-- Mobile Header -->
</div>
   <div class="show-for-small">
		<div class="gallery small">
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url({{ 'gallery_1.jpg' | asset_url }})"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url({{ 'gallery_2.jpg' | asset_url }})"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url({{ 'gallery_3.jpg' | asset_url }})"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url({{ 'gallery_4.jpg' | asset_url }})"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url({{ 'gallery_5.jpg' | asset_url }})"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url({{ 'gallery_6.jpg' | asset_url }})"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url({{ 'gallery_7.jpg' | asset_url }})"></div>
		</div>	  
	</div>
<div class="row">
<!-- End Mobile Header -->