<div id="cd-shadow-layer"></div>

<div id="cd-cart">
	<h2>Cart</h2>

	<ul class="cd-cart-items">
		{% for item in cart.items %}
			<li>
				<span class="cd-qty">{{ item.quantity }}x</span> <a href="{{ item.product.url | within: collections.all }}">{{ item.title }}</a>
				<div class="cd-price">{{ item.price | money }}</div>
				<a href="/cart/change?line={{ forloop.index }}&quantity=0" class="cd-item-remove cd-img-replace"><i class="fi-x"></i></a>
			</li>
		{% endfor %}
	</ul> <!-- cd-cart-items -->

	<div class="cd-cart-total">
		<p>Total <span>{{ cart.total_price | money }}</span></p>
	</div> <!-- cd-cart-total -->

	<a href="/checkout" class="checkout-btn">Checkout</a>
	
	<p class="cd-go-to-cart"><a href="/cart">Go to cart page</a></p>
</div> <!-- cd-cart -->

</div> <!-- cd-cart -->