<!-- /templates/blog.stories.liquid -->

{% paginate blog.articles by 9 %}

{% assign content_limit = 60 %}

{% if current_tags %}
  <h1 class="h2">{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
{% else %}
  <h1 class="h2">{{ blog.title }}</h1>
{% endif %}

<div class="blog-content">

  <div class="grid-uniform">

    {% for article in blog.articles %}

      <div class="grid__item large--one-third">
        <div class="article">

          {% assign size = '_700x700' %}
          {% include 'blog-image' %}

          <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>

          <br><br>

        </div>
      </div>

    {% endfor %}

  </div>


</div>

{% include 'pagination' %}

{% endpaginate %}
