<!-- /templates/collection.accessories.liquid -->
<div class="container color grey">
  <div class="wrapper">
    <div class="grid--full grid-uniform spare_parts text-center">
      {% assign linklist_handle = 'spare-parts' %}
      {% assign image_size = 'grande' %}
      {% for link in linklists[linklist_handle].links %}
        {% assign collection = link.object %}
        <div class="grid__item large--one-quarter medium--one-third text-center parts_container">
          <a href="{{ link.url }}" title="{{ link.title }}">
            <div class="parts_item">
              {% if collection.image %}
                <div>
                  <img src="{{ link.object | img_url: image_size }}" alt="{{ link.title | escape }}">
                </div>
              {% else %}
                {% assign product = link.object.products.first %}
                <div>
                  <img src="{{ product | img_url: image_size }}" alt="{{ link.title | escape }}">
                </div>
              {% endif %}
              <p>{{ link.title }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
