<!-- /templates/collection.liquid -->
{% assign current_collection = collection.url %}
{% paginate collection.products by 24 %}
  {% if collection.handle == 'filaments' %}
  <div class="container">
      <div class="tabs-slider grid--full color green">
        <nav id="tabs-links">
          {% for article in blogs.filaments.articles | limit: 10 %}
            <div data-tab="{{ article.title | replace: '+', 'plus' | handleize }}" class="tab-link{% if forloop.first %} active{% endif %}">{{ article.title }}</div>
          {% endfor %}
        </nav>
        <div class="tabs">
          {% for article in blogs.filaments.articles | limit: 10 %}
            <div id="{{ article.title | replace: '+', 'plus' | handleize }}" class="tab{% if forloop.first %} active{% endif %}{% if article.image %} with-image{% endif %}">
              <h3>{{ article.title }}</h3>
              <div class="content rte">
                  {{ article.content }}
              </div>
              {% if article.image %}
              <div class="tab-image">
                <img src="{{ article.image | img_url: '1024x1024' }}">
              </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
  </div>

<script>
  $(document).ready(function(){
    var tab = 'div.tab-link'
    var content = 'div.tabs .tab'
    $( tab ).click(function(){
      var tab_id = $(this).attr('data-tab');
      $( tab ).removeClass('active');
      $( content ).removeClass('active');
      $(this).addClass('active');
      $("#"+tab_id).addClass('active');
    })
  });
</script>

    {% assign linklist_handle = 'filament-brands' %}
    <div class="container color grey">
      <div class="wrapper">
        <div class="grid--full grid-uniform filament_brands text-center">
          {% assign image_size = 'grande' %}
          {% for link in linklists[linklist_handle].links %}
            {% assign collection = link.object %}
            <div class="grid__item large--one-half medium--one-half text-center brand_container">
              <a href="{{ link.url }}" title="{{ link.title }}">
                <div class="brand_item">
                  {% if collection.image %}
                    <div class="circle_image" style="background-image:url('{{ link.object | img_url: image_size }}');">
                      <img src="{{ link.object | img_url: image_size }}" alt="{{ link.title | escape }}">
                    </div>
                  {% else %}
                    {% assign product = link.object.products.first %}
                    <div class="circle_image" style="background-image:url('{{ product | img_url: image_size }}');">
                      <img src="{{ product | img_url: image_size }}" alt="{{ link.title | escape }}">
                    </div>
                  {% endif %}
                  <h2>{{ link.title }}</h2>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  {% else %}

    {% for product in collection.products | limit: 24 %}

      <div class="container color{% cycle '', ' grey' %}">
        <div class="wrapper">
          <div class="{% cycle 'grid', 'grid--rev' %} large--grid--flex">

            <div class="grid__item large--one-third flex__item">

              {% assign on_sale = false %}
              {% if product.compare_at_price > product.price %}
                {% assign on_sale = true %}
              {% endif %}
              {% assign sold_out = true %}
              {% if product.available %}
                {% assign sold_out = false %}
              {% endif %}

              <a href="{{ product.url | within: collection }}" class="grid__image">
                <img src="{{ product.featured_image.src | img_url: '1024x1024' }}" alt="{{ product.featured_image.alt | escape }}">
              </a>

            </div>
            <div class="grid__item large--two-thirds flex__item{% cycle '', ' large--text-right' %}">
              <div class="mini-wrapper">
                <h2>
                  <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                </h2>

                {% assign content = product.description %}
                {% assign splits = content | split: '[split]' %}
                {% capture description %}{% endcapture %}
                {% for split in splits %}
                  {% if split contains '[description]' and split contains '[/description]'  %}
                    {% capture description %}{{ split | remove: '[description]' | remove: '[/description]' | strip_html }}{% endcapture %}
                  {% endif %}
                {% endfor %}
                <p>{{ description | truncatewords: 36 }} <b><a href="{{ product.url | within: collection }}" title="{{ product.title }}">More Info</a></b></p>

                <p class="price">
                  {% if on_sale %}
                    {% if product.price_varies %}
                      {% assign sale_price = product.price | money %}
                      {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                    {% else %}
                      <strong>{{ 'products.product.on_sale' | t }}</strong>
                      {{ product.price | money }}
                    {% endif %}
                  {% else %}
                    {% if product.price_varies %}
                      {% assign price = product.price | money %}
                      {{ 'products.general.from_text_html' | t: price: price }}
                    {% else %}
                      {{ product.price | money }}
                    {% endif %}
                  {% endif %}
                  {% if sold_out %}
                    <br><strong>{{ 'products.product.sold_out' | t }}</strong>
                  {% endif %}
                  {% if on_sale %}
                    <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                    <br><s>{{ product.compare_at_price | money }}</s>
                  {% endif %}
                </p>
                <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
                  <select name="id" id="productSelect" class="product-single__variants visually-hidden">
                    {% for variant in product.variants %}
                      {% if variant.available %}
                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                      {% else %}
                        <option disabled="disabled">
                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        </option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  {% if product.variants.size == 1 %}
                    <button type="submit" name="add" id="AddToCart" class="btn btn--large">
                      <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                    </button>
                  {% else %}
                    <a class="btn btn--large" href="{{ product.url | within: collection }}" title="{{ product.title }}">Shop Now</a>
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}

  {% endif %}

  {% include 'pagination' %}

  {% assign linklist_handle = 'featured-items' %}
  {% assign image_size = '1024x1024' %}

  {% if linklists[linklist_handle].links.size > 0 %}
    {% assign link_count = 0 %}
    {% for link in linklists[linklist_handle].links %}

      {% if link.type == 'collection_link' %}
        {% unless link.url == current_collection }

          {% assign collection = link.object %}
          {% assign link_count = link_count | plus: 1 %}

          <div class="container color{% cycle  ' green', ' dark', ' black', ' grey' %}">
            <div class="wrapper">
              <div class="{% cycle 'grid', 'grid--rev' %} large--grid--flex">

                <div class="grid__item large--one-third flex__item">
                  <a href="{{ link.url }}" class="grid__image">
                    {% if collection.image %}
                      <img src="{{ link.object | img_url: image_size }}" alt="{{ link.title | escape }}">
                    {% else %}
                      {% assign product = link.object.products.first %}
                      <img src="{{ product | img_url: image_size }}" alt="{{ link.title | escape }}">
                    {% endif %}
                  </a>
                </div>

                <div class="grid__item large--two-thirds flex__item{% cycle '', ' large--text-right' %}">
                  <div class="mini-wrapper">
                    <h2><a href="{{ link.url }}">{{ link.title }}</a></h2>
                    <p>{{ link.object.description | truncatewords: 36 | strip_html }}...</p>
                    <a class="btn btn--secondary btn--large" href="{{ link.url }}" title="{{ link.title }}">Shop Now</a>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="clearfix"></div>

        {% endunless %}
      {% endif %}

      {% if link.type == 'product_link' %}

        {% assign product = link.object %}
        {% assign link_count = link_count | plus: 1 %}

        <div class="container color{% cycle  ' green', ' dark', ' black', ' grey' %}">
          <div class="wrapper">
            <div class="{% cycle 'grid', 'grid--rev' %} large--grid--flex">

              <div class="grid__item large--one-third flex__item">
                <a href="{{ link.url }}" class="grid__image">
                  <img src="{{ link.object.featured_image.src | img_url: image_size }}" alt="{{ link.title | escape }}">
                </a>
              </div>

              <div class="grid__item large--two-thirds flex__item{% cycle '', ' large--text-right' %}">
                <div class="mini-wrapper">
                  <h2><a href="{{ link.url }}">{{ link.title }}</a></h2>
                  <p>{{ link.object.description | truncatewords: 36 | strip_html }}...</p>

                  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

                    <select name="id" id="productSelect" class="product-single__variants visually-hidden">
                      {% for variant in link.variants %}
                        {% if variant.available %}
                          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                        {% else %}
                          <option disabled="disabled">
                            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                          </option>
                        {% endif %}
                      {% endfor %}
                    </select>

                    {% if link.variants.size == 1 %}
                      <button type="submit" name="add" id="AddToCart" class="btn btn--large">
                        <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                      </button>
                    {% else %}
                      <a class="btn btn--large" href="{{ link.url | within: collection }}" title="{{ link.title }}">Shop Now</a>
                    {% endif %}

                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="clearfix"></div>

      {% endif %}

    {% endfor %}
  {% endif %}

{% endpaginate %}
